<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ${pageTitle} allowing for an optional and dynamic page title -->
    <title th:replace="${pageTitle} ?: 'BarselPlus'">BarselPlus</title>

    <!-- Bootstrap CSS for styling -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTMX stuff -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
</head>
<body class="bg-light">
    <!-- Navigation Bar -->
    <div th:replace="fragments/navbar :: navbar"></div>

    <!-- Main Div -->
    <!-- ${body} functions as a -->
        <!-- Page content gets inserted here -->
    <main class="container py-4">
        <div th:insert="${content}"></div>
    </main>

    <!-- Bootstrap JS, tentative atm -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
